<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 container justify-content-center card">

					<h1 class="text-center">User Login Page</h1>
					<div class="card-body">
						<form th:action="@{/login}" th:object="${userDTO}" method="post">
							<!-- this param.error is coming from registerUserAccount method in UserRegController-->
							<div th:if="${param.error}">
								<div class="alert alert-danger">Invalid username or password.</div>
							</div>
							<!-- this param.logout is coming from SecurityConfig file in which if user logout the url is /login?logout-->
							<div th:if="${param.logout}">
								<div class="alert alert-info">You've been logged out.</div>
							</div>
							<div class="form-group">
								<label> Username </label>
								<input class="form-control" type="text" name="username" id="username"
									placeholder="Enter Email Id" required autofocus="autofocus">
							</div>
							<div class="form-group">
								<label> Password </label>
								<input class="form-control" type="password" name="password" id="password"
									placeholder="Enter Password" required autofocus="autofocus">
							</div>
							<div class="box-footer">
								<button type="submit" name="login-submit" class="btn btn-success my-2">Log In</button>
							</div>
						</form>
						<div class="form-group">
							<span> New User? <a th:href="@{/registration}">Register here</a> </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>