<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 container justify-content-center card">
					<!-- this param.success is coming from registerUserAccount method in UserRegController-->
					<div th:if="${param.success}">
						<div class="alert alert-info">You've successfully registered.</div>
					</div>
					<h1 class="text-center">Registration</h1>
					<div class="card-body">
						<form th:action="@{/registration}" th:object="${userDTO}" method="post">
							<div class="form-group">
								<label> First Name </label>
								<input class="form-control" type="text" name="firstName" th:field="*{firstName}"
									placeholder="Enter First Name" required autofocus="autofocus">
							</div>
							<div class="form-group">
								<label> Last Name </label>
								<input class="form-control" type="text" name="lastName" th:field="*{lastName}"
									placeholder="Enter Last Name" required autofocus="autofocus">
							</div>
							<div class="form-group">
								<label>Email</label>
								<input class="form-control" type="text" name="email" th:field="*{email}"
									placeholder="Enter Email" required autofocus="autofocus">
							</div>
							<div class="form-group">
								<label>Password</label>
								<input class="form-control" type="password" name="email" th:field="*{password}"
									placeholder="Enter Password" required autofocus="autofocus">
							</div>
							<div class="box-footer">
								<button type="submit" class="btn btn-success my-2">Register</button>
								<span> Already Registered? <a th:href="@{/login}">Login here</a> </span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>